.clipe{

    background-color: white;
    display: inline-block;
    size: 20px;
    border-radius: 5px;
    padding-bottom: 20px;
    height: 320px;
}

.text-container{

    padding: 10px;
}
#titulo{



}



.clipe video{
    height: 200px;

    

}