@import url('https://fonts.cdnfonts.com/css/minecraft-3');

body{

    background-color: #26a4ff;
}

.sidebar h2, .sidebar h5{

    font-family: 'Minecraft', sans-serif;
}

.nav-link:hover{

    color: #2660FF;
}
button{

    background-color: #3126FF;
    color: white;
    border: none;
    padding: 15px 25px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.3);
    
}

.sidebar {
    height: 90vh;
    width: 0px;
    position: fixed;
    background-color: #2660FF;
    padding-top: 20px;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    z-index: 2;
    transition: width 0.8s;
    overflow: hidden;
    
}
.sidebar.active {
    width: 400px;
  }

.content {
    padding: 20px;

}

a{

    color: #26E9FF;
    text-decoration: none;
}
li{

    list-style: none;
}

img.map {
    border: 9px solid #db9467;
    height: auto;
    display: block;
}